<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Document</title>
</head>
<body>
    <h2>LOGIN </h2>

<nav>
        <ul>
              <li><a href="index">Home</a></li>
            <li><a href="about">About US</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="resources">Resources</a></li>
            <li><a href="alert">Alert HUB</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
    

<form action="/login" method="post">

<input type="text" name="name" placeholder="name">
<input type="password" name="password" placeholder="password">
<input type="submit">



</form>

<a href="/signup"> Make a new account </a>
</body> 
</html>